label {
    margin: 1rem 0 0.5em;
}
input {
    outline: 0;
    padding: 14px 16px;
    border: 1px solid #eee;
    border-radius: 8px;
}
input:focus,
input:active {
    border: 1px solid #ccc;
}
.button {
    margin-top: 16px;
    background-color: #f02e65;
    border: none;
    color: white;
    font-weight: bold;
    padding: 14px 16px;
    border-radius: 8px;
    cursor: pointer;
}
.button:hover {
    background-color: #f02e65aa;
}
.button:disabled {
    background-color: #cfcfcf;
}
